<div class="em-breve" role="dialog" aria-modal="true" aria-labelledby="em-breve-titulo" aria-describedby="em-breve-desc">
  <div class="em-breve__backdrop" aria-hidden="true"></div>
  <div class="em-breve__modal">
    <img class="em-breve__logo" src="/imagens/logo-marca.svg" [alt]="marca" width="160" height="48" />
    <h1 id="em-breve-titulo" class="em-breve__title">Em breve</h1>
    <p id="em-breve-desc" class="em-breve__text">
      Estamos preparando algo especial. Volte em breve.
    </p>
  </div>
</div>
