<section class="about-container">
  <div class="about-header">
    <h2>Conheça o Nosso Time</h2>
    <p>Somos apaixonados pelo que fazemos e estamos sempre em busca de oferecer o melhor para você e seu pet.</p>
  </div>
  
  <div class="team-container">
    <div class="team-member">
    <img src="/imagens/kamy.jpg" alt="Kamila" class="team-image"/>
    <h3>Kamyla</h3>
    <p>Co-fundadora da Fórmula Pet, Kamyla é uma especialista em Química dedicada a proporcionar o melhor cuidado para os animais. Sua paixão e expertise garantem produtos de alta qualidade para o seu pet.</p>
    </div>
    
    <div class="team-member">
    <img src="/imagens/heryck.jpg" alt="Heryck" class="team-image"/>
    <h3>Heryck</h3>
    <p>Co-fundador da Fórmula Pet, Heryck é um especialista em Química com um olhar atento à saúde animal. Sua dedicação e conhecimento asseguram que cada produto seja seguro e eficaz para o seu pet.</p>
    </div>
  </div>
  </section>
