<div class="modal-login-wrapper">
  <h2>Login Veterinário</h2>

  <p class="error-message" *ngIf="mensagemErro">{{ mensagemErro }}</p>

  <!-- Formulário email/senha -->
  <form *ngIf="!iniciadoGoogle" #f="ngForm" (ngSubmit)="loginEmail(f)">
    <div class="form-group">
      <label>Email</label>
      <input type="email" name="email" ngModel required placeholder="seu@email.com" />
    </div>
    <div class="form-group senha-wrapper">
      <label>Senha</label>
      <input [type]="mostrarSenha ? 'text' : 'password'" name="senha" ngModel required placeholder="********" />
      <span class="olho" (click)="mostrarSenha = !mostrarSenha">{{ mostrarSenha ? '🙈' : '👁️' }}</span>
    </div>
    <div class="acoes-sec">
      <button type="button" class="btn-sec" (click)="resetSenha(f.value.email)">Esqueci minha senha</button>
    </div>
    <button class="btn" type="submit" [disabled]="f.invalid || carregando">Login</button>
  </form>

  <hr />

  <!-- Botão Google -->
  <button class="btn-google-toggle" (click)="loginGoogle()" *ngIf="!iniciadoGoogle">
    <img src="/imagens/google.png" alt="Google" class="g-img"> Entrar com Google
  </button>

  <div class="acoes-sec">
    <!-- <button class="btn-sec" (click)="close.emit()">Fechar</button> -->
  </div>
</div>
