
<div class="hero-container" >
  <div class="hero-bg"></div>
<swiper-container style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="hero-slider"
  speed="600" 
  parallax="true" 
  pagination="true" 
  pagination-clickable="true" 
  navigation="false"
  autoplay="false"
  loop="true"
  >

  <div slot="container-start" class="parallax-bg hero-card"
    style="background-image: url(/imagens/fmanip.webp);" data-swiper-parallax="-23%"></div>
  <swiper-slide *ngFor="let slide of slides" >

    <div>
<div style="padding-top: 20px;">

</div>
      <div class="title" data-swiper-parallax="-1500">{{ slide.title }}</div>
      <div class="subtitle" data-swiper-parallax="-200">{{ slide.subtitle }}</div>
      <div class="text" data-swiper-parallax="-100">
        <p>{{ slide.text }}</p>
      </div>
    </div>

  </swiper-slide>
</swiper-container>
</div>