@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  min-height: 400px;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

swiper-slide {
  min-height: 400px;

  .title {
    font-family: "Dancing Script", serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 4em;
    font-weight: 500;
    font-style: normal;
    color: #6ef5de;
    padding-top: 40px;
    padding: 0 22px;
  }
  .subtitle{
    padding-left: 22px;
    font-size: 3em;
    padding-right: 100px;
  }
  .text {
    padding: 0 22px;
    font-size: 2em;
  } 
  .subtitle,
  .text p {
    font-family: "Dancing Script", serif;


    
    line-height: 1.6;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  }

  .subtitle {
    font-size: 30px;
  }

  .text {
    font-size: 20px;
    max-width: 400px;
    line-height: 1.3;
  }

