.desktop{
    padding-left: 20vw;
    padding-right: 20vw;
}
.mobile{
    padding-left: 0vw;
    padding-right: 0vw;
}

.hero-card{
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}