
<section id="header" class="header">  
  <app-navmenu></app-navmenu>
</section>


  <!-- Seção de Banner -->
  <section id="swiper-topo" class="swiper-topo">
    <app-swiper-topo app-swiper-topo></app-swiper-topo>
  </section>
  
  
  <!-- Seção de Visão Geral -->
  <section id="hero" >
    <app-hero ngSkipHydration></app-hero> 
    <!-- Componente que pode conter um banner com apresentação -->
  </section>

  <!-- Seção de Produtos em Destaque (Preview) -->
<section id="products-preview">
  <app-product-preview ngSkipHydration></app-product-preview> 
  <!-- Componente para mostrar alguns produtos destacados -->
</section>


  <section id="Testimonials">
    <app-testimonials></app-testimonials>

  </section>
  
 <!-- Sobre a Farmácia -->
<section id="about">
  <app-about></app-about> 
  <!-- Componente com informações sobre a farmácia -->
</section>


<!-- Seção de Contato -->
<section id="contact">
  <!-- <app-contact></app-contact>  -->
  <!-- Componente com formulário de contato e dados -->
</section>

<!-- Rodapé -->
 
<footer>
  <app-footer></app-footer> 
  <!-- Componente para o rodapé com informações gerais -->
</footer>

  <!-- about -->
  <div class="about">
    <a class="bg_links social whatsapp" href="wa.me/message/GLVXCNM7IBKUI1" target="_blank">
      <span class="icon"></span>
    </a>
    <a class="bg_links social Instagram" href="https://www.instagram.com/farmaformulapet/" target="_blank">
      <span class="icon"></span>
    </a>
    <a class="bg_links social linkedin" href="https://www.linkedin.com/in/rafaelalucas/" target="_blank">
      <span class="icon"></span>
    </a>
    <a class="bg_links logo"></a>
    
  </div>
  <!-- end about -->
