<ng-container [ngSwitch]="variant">
  <app-product-card-sales
    *ngSwitchCase="'legacy'"
    [product]="product"
    [themeConfig]="themeConfig"
    [supportsFavorites]="supportsFavorites"
    [supportsRatings]="supportsRatings"
    [favoriteActive]="favoriteActive"
    [disableLink]="disableLink"
    [cardWidth]="cardWidth"
    (add)="add.emit($any($event))"
    (toggleFav)="toggleFav.emit()"
  />
  <app-card-variant-2
    *ngSwitchCase="'variant2'"
    [product]="product"
    [themeConfig]="themeConfig"
    [supportsFavorites]="supportsFavorites"
    [supportsRatings]="supportsRatings"
    [favoriteActive]="favoriteActive"
    [disableLink]="disableLink"
    [cardWidth]="cardWidth"
    (add)="add.emit($any($event))"
    (toggleFav)="toggleFav.emit()"
  />
  <app-card-variant-3
    *ngSwitchCase="'variant3'"
    [product]="product"
    [themeConfig]="themeConfig"
    [supportsFavorites]="supportsFavorites"
    [supportsRatings]="supportsRatings"
    [favoriteActive]="favoriteActive"
    [disableLink]="disableLink"
    [cardWidth]="cardWidth"
    (add)="add.emit($any($event))"
    (toggleFav)="toggleFav.emit()"
  />
  <app-card-variant-4
    *ngSwitchCase="'variant4'"
    [product]="product"
    [themeConfig]="themeConfig"
    [supportsFavorites]="supportsFavorites"
    [supportsRatings]="supportsRatings"
    [favoriteActive]="favoriteActive"
    [disableLink]="disableLink"
    [cardWidth]="cardWidth"
    (add)="add.emit($any($event))"
    (toggleFav)="toggleFav.emit()"
  />
  <app-card-variant-1
    *ngSwitchDefault
    [product]="product"
    [themeConfig]="themeConfig"
    [supportsFavorites]="supportsFavorites"
    [supportsRatings]="supportsRatings"
    [favoriteActive]="favoriteActive"
    [disableLink]="disableLink"
    [cardWidth]="cardWidth"
    (add)="add.emit($any($event))"
    (toggleFav)="toggleFav.emit()"
  />
</ng-container>
