<!-- Slider de Categorias -->
<swiper-container class="category-swiper swiper-categorias" [slidesPerView]="'auto'" [spaceBetween]="10">
<div class="category-slide p-r">
  <button 
    type="button"
    class="button-56"
    [class.active]="selectedCategory === ''" 
    (click)="filterProductsByCategory('')">
    <span>Todos</span>
  </button>
</div>
  
  <ng-container *ngFor="let category of categories">
    <swiper-slide class="category-slide">
      
      <button 
        type="button"
        class="button-56"
        [class.active]="selectedCategory === category" 
        (click)="filterProductsByCategory(category)">
        <span>{{ category }}</span>
      </button>
    </swiper-slide>
  </ng-container>
  <!-- Botão para Todos -->
  <swiper-slide class="category-slide">

  </swiper-slide>
</swiper-container>

<!-- Slider de Produtos -->
<swiper-container class="product-swiper" [slidesPerView]="slidesPerView">
  <ng-container *ngFor="let produto of filteredProducts">
    <swiper-slide>
      <app-product-card
        [id]="produto.id"
        [category]="produto.category"
        [customizations]="{
          dosage: produto.customizations?.dosage ?? [],
          packaging: produto.customizations?.packaging ?? [],
          size: produto.customizations?.size,
          scent: produto.customizations?.scent
        }"
        [description]="produto.description"
        [image]="produto.image ?? undefined"
        [name]="produto.name"
        [price]="produto.price"
        [rating]="produto.rating ?? undefined"
        [stock]="produto.stock ?? undefined"
        [tags]="produto.tags ?? []"
        [weight]="produto && produto.weightValue !== undefined && produto.weightValue !== null ? produto.weightValue.toString() : undefined"
        [isFavourite]="produto.isFavourite"
        [isAddedToCart]="produto.isAddedToCart"
        [discount]="produto.discount ?? undefined"
        [shopMode]="true"
        (buy)="handleBuy($event)">
      </app-product-card>

    </swiper-slide>
  </ng-container>
</swiper-container>

<div class="preview-spacer"></div>
