<!-- Slider de Categorias -->
<swiper-container class="" [slidesPerView]="'auto'" [spaceBetween]="10">
  <ng-container *ngFor="let category of categories">
    <swiper-slide class="category-slide">
      <!-- <button 
        type="button"
        class="button-56"
        [class.active]="selectedCategory === category" 
        (click)="filterProductsByCategory(category)">
        <span>{{ category }}</span>
      </button> -->
    </swiper-slide>
  </ng-container>
  <!-- Botão para Todos -->
  <swiper-slide class="category-slide">
    <!-- <button 
      type="button"
      class="button-56"
      [class.active]="selectedCategory === ''" 
      (click)="filterProductsByCategory('')">
      <span>Todos</span>
    </button> -->
  </swiper-slide>
</swiper-container>

<!-- Slider de Produtos -->
<swiper-container class="product-swiper" [slidesPerView]="slidesPerView">
  <ng-container *ngFor="let produto of filteredProducts">
    <swiper-slide>
      <app-product-card 
        [id]="produto.id"
        [category]="produto.category"
        [customizations]="produto.customizations"
        [description]="produto.description"
        [image]="produto.image"
        [name]="produto.name"
        [price]="produto.price"
        [rating]="produto.rating"
        [stock]="produto.stock"
        [tags]="produto.tags"
        [weight]="produto.weight"
        [isFavourite]="produto.isFavourite"
        [isAddedToCart]="produto.isAddedToCart"
        [discount]="produto.discount">
      </app-product-card>
    </swiper-slide>
  </ng-container>
</swiper-container>

<div style="padding-bottom: 24px;"></div>
