.category-swiper {
  padding: 1rem 0;

  .category-slide {
    width: 120px; /* Para que o slide se ajuste ao conteúdo */
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  button {
    width: 120px; /* Para que o slide se ajuste ao conteúdo */
    height: 35px;
    display: flex;
    align-items: center;
    gap: 0.7rem;
    background-color: #fff;
    border: none;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;

    img {
      width: 24px;
      height: 24px;
      border-radius: 50%;
    }

    span {
      font-size: 0.9rem;
      font-weight: 500;
      color: #555;
    }

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    }

    &.active {
      background-color: #1e8e9f; /* Cor de destaque, pode ser ajustada */
      box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);

      span {
        color: #fff;
        font-weight: 600;
      }
    }
  }
}
