<section class="testimonial-slider" *ngIf="isBrowser">
  

    <swiper-container
    class="hero-slider"
    speed="600"
    parallax="true"
    navigation="false"
    autoplay="true"
    loop="true"
  >
  <div slot="container-start" class="parallax-bg" 
  style="background-image: url(/imagens/fmanip.webp);" 
  data-swiper-parallax="-23%">
</div>


<swiper-slide *ngFor="let testimonial of testimonials">
  <blockquote>
        <div class="card">
        <p class="testimonial-text">“{{ testimonial.text }}”</p>
        <footer class="testimonial-author">— {{ testimonial.author }}</footer>
      </div>
      </blockquote>
    </swiper-slide>


  </swiper-container>
</section>
