<section class="" *ngIf="isBrowser">
  <swiper-container
    speed="600"
    parallax="true"
    navigation="false"
    autoplay="true"
    loop="true"
  >
    <swiper-slide *ngFor="let testimonial of testimonials" class="hero-slide">
      <blockquote>
        <div class="card">
          <p class="testimonial-text">“{{ testimonial.text }}”</p>
          <footer class="testimonial-author">— {{ testimonial.author }}</footer>
        </div>
      </blockquote>
    </swiper-slide>
  </swiper-container>
</section>
