<!-- about -->
<div class="about">
    <a class="bg_links social portfolio" href="https://www.rafaelalucas.com" target="_blank">
       <span class="icon"></span>
    </a>
    <a class="bg_links social dribbble" href="https://dribbble.com/rafaelalucas" target="_blank">
       <span class="icon"></span>
    </a>
    <a class="bg_links social linkedin" href="https://www.linkedin.com/in/rafaelalucas/" target="_blank">
       <span class="icon"></span>
    </a>
    <a class="bg_links logo"></a>

 </div>
 <!-- end about -->
 
 
 <nav>
   <div class="menubar">
     <a href="#0" class="home"><img src="/imagens/gato-cachorro-rato.png" alt="" class="imagem-navbar"></a>
     <div class="icons">

       <div class="secondary-icons">
        <i class="icon-second "><img src="/icones/mapa-pata.png" class="icones-menu"></i>
        <i class="icon-second "><img src="/icones/telefone-pata.png" class="icones-menu"></i>
        <i class="icon-second "><img src="/icones/receita-pata.png" class="icones-menu"></i>
       </div>
       
       <i class="icon-menu"><span></span></i>
     </div>
   </div>
   <ul class="menu">
      
     <li class="menu-link"><a href="#0" class="text-item">Sobre Nós</a></li>
     <li class="menu-link sub">
       <a href="#0" class="text-item">Serviços<span class="icon"></span></a>
       <ul class="submenu">
         <li class="sub-item"><a href="#0">Medicamentos Manipulados</a></li>
         <li class="sub-item"><a href="#0">Suplementos</a></li>
         <li class="sub-item"><a href="#0">Higiene</a></li>
       </ul>
     </li>
     <li class="menu-link sub">
       <a href="#0" class="text-item">Lorem Ipsun<span class="icon"></span></a>
       <ul class="submenu">
         <li class="sub-item"><a href="#0">Loren</a></li>
         <li class="sub-item"><a href="#0">Loren ipsum</a></li>
         <li class="sub-item"><a href="#0">Mobile App Development</a></li>
       </ul>
     </li>
     <li class="menu-link"><a href="#0" class="text-item">Contatos</a></li>
   </ul>
 </nav>
 
 