/* Exibe a imagem para telas pequenas (celular) */
.mobile-banner {
    display: block;
  }
  
  /* Esconde a imagem para telas grandes */
  .desktop-banner {
    display: none;
  }
  
  /* Para telas grandes, exibe a imagem do desktop e esconde a do celular */
  @media (min-width: 768px) {
    .mobile-banner {
      display: none;
    }
    .desktop-banner {
      display: block;
    }
  }
  img {
    width: 100%;
    padding-top: 60px;
  }

